<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @opn_tb_answers_group.name %>
</p>

<%= link_to 'Edit', edit_opn_tb_answers_group_path(@opn_tb_answers_group) %> |
<%= link_to 'Back', opn_tb_answers_groups_path %>
