<p id="notice"><%= notice %></p>

<p>
  <strong>Description:</strong>
  <%= @opn_tb_field_experience.description %>
</p>

<%= link_to 'Edit', edit_opn_tb_field_experience_path(@opn_tb_field_experience) %> |
<%= link_to 'Back', opn_tb_field_experiences_path %>
